.dataCheckout {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
    width: 40%;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.dataCheckout button{
    width: 20%;
    margin-left: 20rem;
}