@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.cart-container {
    width: 100%;
    padding: 50px 0;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.container-items {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-right: 3px solid #146C94;
    padding: 0 40px;
}

.cart-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-cart {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.btn-cart>button {
    width: 200px;
}

.cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px;
    background-color: #F6F6F6;
}

.cart-item>img {
    width: 7%;
    object-fit: cover;
}

/* Aca la tarjeta */
.cart-item-info {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-info>h2 {
    font-family: 'Quicksand', sans-serif;
}

button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    min-height: 0.5em;
    min-width: 0;
    outline: none;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 0.5rem;
}

.vaciarCarrito:hover {
    color: #fff;
    background-color: #e80707;
    box-shadow: rgba(216, 14, 14, 0.25) 0 8px 15px;
    border: 1px solid #e80707;
    transform: translateY(-2px);
}

.continuarCompra:hover {
    color: #fff;
    background-color: #21be34;
    box-shadow: rgba(51, 216, 14, 0.25) 0 8px 15px;
    border: 1px solid #21be34;
    transform: translateY(-2px);
}