.productDetail .imgDetail {
    width: 100px;
}

.productDetail {
    background: lightblue;
    width: 20%;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;