@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #F6F6F6;
}

.footer {
  background: #0084ff;
  padding: 2rem, black;
  margin-top: 3rem;
  height: 5rem;
}

.footer h1,
.footer p {
  color: rgb(204, 212, 219);
  text-align: center;
}
